.fishItemTable {
	width: 925px;
	text-align: center;
}

#divIndex {
	width: 200px;
	height: 200px;
	background: #FDEDFF;
	float: left;
	margin-right: 75px;
	margin-top: 75px;
	text-align: center;
	border: 2px solid;
	border-color: #323232;
	border-radius: 5px;
	position: relative;
}

#divReg {
	background: #FDEDFF;
	width:400px;
	margin-left:200px;
	margin-top: 10px;
	text-align: center;
	border: 2px solid;
	border-color: #323232;
	border-radius: 5px;
	padding: 15px;
}

body {
	background: #f3f2f3;
	color: #000000;
	font-family: Trebuchet MS, Arial, Times New Roman;
	font-size: 12px;
}

#container {
	background: #E2D5FF;
	margin: 30px auto;
	width: 1100px;
	min-height: 870px;
	overflow: hidden;
}

#header {
	height: 200px;
	width: 1100px;
	background-image: url("#{resource['img/header.jpg']}");
}

#navigation {
	background: #a2a2a2;
	width: 1100px;
	height: 35px;
}

#menu {
	float: left;
	width: 175px;
	min-height: 600px;
	overflow: hidden;
}

#content {
	background: #E2D5FF;
	float: right;
	overflow: hidden;
	width: 925px;
	min-height: 600px;
}

#clear {
	clear: both;
}

#footer {
	height: 20px; 
	width : 1100px;
	position: relative;
	background-image: url("#{resource['img/footer.jpg']}");
	width: 1100px;
}

div#footer {
	text-align: center;
}

p#footerText {
	color: white;
}

a#f {
	color: #FDEDFF; /* ÷вет обычной ссылки */
}

a#f:visited {
	color: #FDEDFF; /* ÷вет посещенной ссылки */
}