.fishItemTable {
	width: 925px;
	text-align: center;
}

body {
	background: #f3f2f3;
	color: #000000;
	font-family: Trebuchet MS, Arial, Times New Roman;
	font-size: 12px;
}

#container {
	background: #E2D5FF;
	margin: 30px auto;
	width: 1100px;
	min-height: 870px;
	overflow: hidden;
}

#header {
	height: 200px;
	width: 1100px;
	background-image: url("#{resource['img/header.jpg']}");
}

#navigation {
	background: #a2a2a2;
	width: 1100px;
	height: 35px;
}

#menu {
	float: left;
	width: 175px;
	min-height: 600px;
	overflow: hidden;
}

#content {
	background: #d2d0d2;
	float: right;
	overflow: hidden;
	width: 925px;
	min-height: 600px;
}

#clear {
	clear: both;
}

#footer {
	height: 50px;
	width: 1100px;
	position: relative;
	background-image: url("#{resource['img/footer.jpg']}");
}